@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: "Montserrat";
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--bs-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
    border-radius: var(--bs-border-radius);
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.icon-32, .icon-24 {
    margin-top: -4px;
    padding-right: 4px;
    padding-left: 4px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-mob-48 {
    width: 48px;
    height: 48px;
}

.icon-48 {
    margin-top: -48px;
    margin-bottom: 10px;
    padding: 12px;
    width: 60px;
    height: 60px;
    background-color: var(--bs-body-bg);
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
}

.glass-01, .glass-02 {
    position: absolute;
}

.brillo-8 {
    margin-left: -2%;
    margin-top: 6%;
    transform: rotate(-7deg);
}

.glass-01 {
    right: 0px;
    top: 2%;
    width: 18%;
}

.glass-02 {
    z-index: -1;
    left: 46%;
    bottom: 6%;
    width: 18%;
}

.glass-03 {
    width: 25%;
}

.tech-stack {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: grayscale(100%);
    margin: 8px;
}

@media only screen and (max-width: 600px) {
    .desktop-only, .glass-01, .glass-02 {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .brillo-8 {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        transform: none;
    }

    .glass-03 {
        width: 40%;
    }

    .learn-more {
        width: 100%;
    }
}